
.hero { 
  position: relative;
}

.banner-img { 
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption { 
  position: absolute;
  width: 100%;
  padding-left: 8%;
  bottom: 0;
}

.caption-img { 
  width: 88%;
  max-width: 400px;
  margin-bottom: 32px;
}

.hero-caption p { 
  max-width: 720px;
  font-size: 16px;
  margin-bottom: 16px;
}

.hero-btns { 
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.hero-btns .btn img { 
  width: 24px;
}

.hero-btns .btn { 
  border: 0;
  outline: 0;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btns .dark-btn { 
  color: white;
  background: #6d6d6eb3;
}

.hero-btns .btn:hover { 
  background: #ffffffbf;
}

.hero-btns .dark-btn:hover { 
  background: #6d6d6e66;
}

.more-cards { 
  padding-left: 8%;
}